/*campaign B*/
body {
  background-image: url("IMG_1528.jpg");
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center
}
header {
  background-color: #333333;
  padding: 0.25em;
  font-size: 1.75em;
  color: #FFCCCC;
  text-align: right;
}
header span {
  color: white   
}

.button {
  color:white;
  background-color: #333333;
  border-radius: 1em;
  padding: 0.5em;
  text-decoration: none;
}

main {
  padding: 0.5em;

}


